
div.magicmirror-dexcomshare {
    background-color: black;
}

.module.mmm-dexcomshare {
    margin: 0 auto auto 0;
}

@media screen and (min-height:600px) {
    div.magicmirror div.module-content canvas {
        display: block;
        max-width: 400px;
        max-height: 200px;
    }
}

@media screen and (min-height:1200px) and (orientation: landscape) {
    div.magicmirror div.module-content canvas {
        display: block;
        max-width: 400px;
        max-height: 200px;
    }
}

@media screen and (min-height:1500px) and (orientation: landscape) {
    div.magicmirror div.module-content canvas {
        display: block;
        max-width: 400px;
        max-height: 200px;
    }
}