
div.magicmirror-dexcomshare {
    min-width: 380px;
    margin: 0 auto 5px auto;
    /* background-color: black !important; */
}

.module.mmm-dexcomshare {
    margin-bottom: 0px;
}

@media screen and (min-height:600px) {
    div.magicmirror div.module-content canvas {
        background-color: black;
        max-height: 200px;
    }
}

@media screen and (min-height:1200px) and (orientation: landscape) {
    div.magicmirror div.module-content canvas {
        background-color: black;
        max-height: 200px;
    }
}

@media screen and (min-height:1500px) and (orientation: landscape) {
    div.magicmirror div.module-content canvas {
        background-color: black;
        max-height: 200px;
    }
}